:root {
  --primery-text-color: #212121;
  --secondory-text-color: #757575;
  --therd-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondory-accent-color: #188ce8;
  --primery-background-color: #f5f5f5;
  --secondory-background-color: #f5f4fa;
  --therd-background-color: #2f303a;
  --primery-wight: #ffffff;
  --primery-black: #000000;
  --primery-gray: #eeeeee;
  --background-icon: #afb1b8;
  --background-footer-icon: rgba(255, 255, 255, 0.1);
  /* --transition-animation: 2s cubic-bezier(0.4, 0, 0.2, 1); */
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--primery-wight);
  color: var(--primery-text-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
}
/* reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  background-color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.soсial-link {
  height: 100%;
  align-items: center;
  border-radius: 50%;
}

.title-h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* header*/

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  text-decoration: none;
}

.logo--black {
  color: var(--primery-black);
}
.menu__link {
  text-decoration: none;
  color: var(--primery-text-color);
}
.menu--current {
  color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu--current::after {
  position: absolute;
  left: 0;
  bottom: -34px;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contact {
  gap: 50px;
  margin-left: auto;
  display: flex;
  align-items: center;
  list-style: none;
}
.header-contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondory-text-color);
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header .menu__link,
.header .header-contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color var(--transition-animation);
}

.icon-contlist {
  margin-right: 10px;
  fill: currentColor;
}

.menu__link:hover,
.menu__link:focus,
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-color);
}

/* hero */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-backgraund.jpg');
}

.hero {
  text-align: center;
  padding: 200px 0;
  color: var(--primery-wight);
  background-color: var(--therd-background-color);
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  transition: background-color var(--transition-animation);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 216px;
  height: 50px;
  margin: 30px auto 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  color: var(--primery-wight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondory-accent-color);
}

/* features */

.flexcenter {
  display: flex;
  justify-content: center;
}

.features-list {
  gap: 30px;
}

.features-item {
  width: 270px;
}

.features-svg-container {
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondory-background-color);
}

.features .features-text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

/* engage */

.engage {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.engage-list {
  gap: 30px;
}

.engage-item {
  position: relative;
}

.engage-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  color: var(--primery-wight);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.team {
  background-color: var(--secondory-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.container-team {
  padding: 30px 0;
}

.team .team-name,
.team .team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-position {
  margin-bottom: 16px;
  color: var(--secondory-text-color);
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primery-wight);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-list {
  gap: 10px;
}

.team .soсial-link {
  transition: background-color var(--transition-animation), color var(--transition-animation);
  color: var(--background-icon);
}

.icon-social,
.icon-client {
  fill: currentColor;
}

.team .soсial-link:hover,
.team .soсial-link:focus {
  color: var(--primery-background-color);
  background-color: var(--accent-color);
}

.client-list {
  display: flex;
  gap: 30px;
}

/* client */

.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  transition: border-color var(--transition-animation), color var(--transition-animation);
  height: 100%;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--background-icon);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--therd-background-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin: 0 0 20px 0;
}

.logo--wigth {
  color: var(--primery-wight);
}
.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}

.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  width: 231px;
  list-style: none;
}
.address-list__link {
  text-decoration: none;
  transition: color var(--transition-animation);
  color: var(--primery-wight);
}

.footer .address-list__link,
.footer .address-list__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__link {
  transition: color var(--transition-animation);
  color: var(--therd-text-color);
}

.address-list__link:hover,
.address-list__link:focus,
.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}

.footer-social-title {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primery-background-color);
}

.footer .soсial-link {
  color: var(--primery-background-color);
  background-color: var(--background-footer-icon);
  transition: background-color var(--transition-animation);
}

.footer .soсial-link:hover,
.footer .soсial-link:focus {
  background-color: var(--accent-color);
}
.footer-form-title {
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--primery-wight);
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: var(--therd-text-color);
  background-color: var(--therd-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-animation);
}
.footer-input:focus {
  border-color: var(--accent-color);
}
.footer .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primery-wight);
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-animation);
}
.input-send {
  fill: currentColor;
}
.footer.submit:hover,
.footer.submit:focus {
  background-color: var(--secondory-accent-color);
}
/* portfolio */

.filters-list {
  gap: 8px;
}

.filters-button {
  font-family: 'Roboto';
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border-color: transparent;
  letter-spacing: 0.03em;
  transition: color var(--transition-animation), background-color var(--transition-animation),
    box-shadow var(--transition-animation);
  background-color: var(--secondory-background-color);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--primery-wight);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.progects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.progects-thamb {
  position: relative;
  overflow: hidden;
}
.progects-overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-animation);
  overflow: auto;
  display: inline-block;
  padding: 63px 24px 0 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primery-wight);
  background-color: rgba(33, 150, 243, 0.9);
}
.progects-link:hover .progects-overlay-text {
  transform: translateY(0);
}
.progects-item {
  width: 370px;
}
.container-progects {
  padding: 20px 24px;
}
.progects-link {
  transition: box-shadow var(--transition-animation);
  display: block;
  border: 1px solid var(--primery-gray);
}

.progects-link:hover,
.progects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.progects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-animation), visibility var(--transition-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition-animation), border-radius var(--transition-animation);
  min-height: 581px;
  width: 528px;
  border-radius: 4px;
  padding: 40px;
  background-color: var(--primery-wight);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  border-radius: 50%;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  transition: color var(--transition-animation);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  color: var(--primery-black);
}

.modal-icon-close {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primery-text-color);
}

/* form */

.modal-feild {
  margin-bottom: 10px;
}
.last {
  margin-bottom: 0;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondory-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-animation);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: transparent;
  transition: border-color var(--transition-animation);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color var(--transition-animation);
}

.modal-input::placeholder,
.modal-text::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

/* checkbox */

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--secondory-text-color);
}

.custom-check {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primery-text-color);
  border-radius: 2px;
  background-color: transparent;
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  fill: var(--primery-background-color);
  background-color: var(--accent-color);
  border-radius: 2px;
}

.custom-check > svg {
  transition: opacity var(--transition-animation);
}

.input-checkbox:checked + .custom-check > svg {
  opacity: 1;
}

.custom-check {
  transition: border-color var(--transition-animation);
}

.input-checkbox:checked + .custom-check {
  border-color: transparent;
}
.checkbox-text {
  display: flex;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}
.licence-link {
  color: var(--accent-color);
}
.label-checkbox > a {
  color: var(--accent-color);
}

/* button submit */

.button-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primery-wight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color var(--transition-animation);
}

.button-submit:hover,
.button-submit:focus {
  background-color: var(--secondory-accent-color);
}
