.engage {
  padding-top: 0;
}

.engage-list {
  gap: 30px;
}

.engage-list__item {
  position: relative;
}

.engage-list__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  color: var(--primery-wight);
  background-color: rgba(47, 48, 58, 0.8);
}
