body {
  background: $primery-wight;
  color: $primery-text-color;
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-size: 14px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
