.filters-list {
  gap: 8px;
  @extend %justify-center;
}

.filters-button {
  font-family: 'Roboto';
  padding: 6px 22px;
  @include font(16px, 1.62, 0.03em, 500, null);
  border-radius: 4px;
  border-color: transparent;
  transition: color $transition-animation, background-color $transition-animation,
    box-shadow $transition-animation;
  background-color: $secondory-background-color;
  &:hover,
  &:focus {
    color: $primery-wight;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.progects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.progects-thamb {
  position: relative;
  overflow: hidden;
}
.progects-overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform $transition-animation;
  overflow: auto;
  display: inline-block;
  padding: 63px 24px 0 24px;
  @include font(18px, 1.56, 0.03em, null, null);
  color: $primery-wight;
  background-color: rgba(33, 150, 243, 0.9);
}

.progects-item {
  width: 370px;
}
.container-progects {
  padding: 20px 24px;
}
.progects-link {
  transition: box-shadow $transition-animation;
  display: block;
  border: 1px solid $primery-gray;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    & .progects-overlay-text {
      transform: translateY(0);
    }
  }
}

.progects-title {
  margin-bottom: 4px;
  @include font(18px, 2, 0.06em, null, null);
  color: $primery-text-color;
}

.progects-text {
  @include font(16px, 1.88, 0.03em, null, null);
  color: $secondory-text-color;
}
