.client-item {
  width: 170px;
  height: 92px;
}

.client-link {
  transition: border-color $transition-animation, color $transition-animation;
  @extend %justify-center;
  height: 100%;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $background-icon;
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}
