.features-list {
  gap: 30px;
  @extend %justify-center;
  list-style: none;
}

.features-list__item {
  width: 270px;
}

.features-svg-container {
  height: 120px;
  @extend %justify-center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondory-background-color);
}
.features__title {
  @include font(14px, 1.14, 0.03em, null, uppercase);
}

.features__text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondory-text-color);
}
